@model JobOpenings.Models.Vacancy
@{
    ViewData["Title"] = "Edit Vacancy";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Vacancy Information</title>
    <style>
        .form-signin {
            max-width: 70%;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .form-signin-heading {
                margin-bottom: 10px;
            }

        .input {
            margin-bottom: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .button {
            margin-top: 10px;
        }

        .text-danger {
            margin-bottom: 5px;
            text-align: left;
        }

        .validation-summary-errors {
            color: #d9534f;
        }

        .label {
            margin-right: 3px;
        }
    </style>

</head>

<body>
    <div class="container">
        <main>
            <div class="row">
                <div>
                    <button onclick="document.location='../../Vacancy';" class="btn btn-lg" style="background-color:transparent;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                            <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                        </svg>
                    </button>
                </div>
                <form asp-action="Edit" asp-controller="Vacancy" asp-antiforgery="true" class="form-signin">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Submits)
                    @Html.HiddenFor(model => model.Favourites)
                    <div id="border">
                        <h2 style="margin-bottom:20px" class="form-signin-heading">Vacancy Information</h2>
                        <div class="form-group">
                            <input id="name" class="form-control" type="text" asp-for="Name" placeholder="Vacancy name">
                            <div class="text-danger">
                                <span asp-validation-for="Name"></span>
                            </div>
                            <input id="companyName" class="form-control" type="text" asp-for="Company.Name" placeholder="Company name">
                            <div class="text-danger">
                                <span asp-validation-for="Company.Name"></span>
                            </div>
                            <input id="companyLocation" class="form-control" type="text" asp-for="Company.Location" placeholder="Company location">
                            <div class="text-danger">
                                <span asp-validation-for="Company.Location"></span>
                            </div>
                            <input id="salary" type="number" step="any" class="form-control" asp-for="Salary" placeholder="Salary">
                            <div class="text-danger">
                                <span asp-validation-for="Salary"></span>
                            </div>
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                foreach (var item in ViewBag.CategoryList)
                                {
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = item.Name,
                                        Value = item.Name
                                    });
                                }
                            }
                            <div class="row">
                                <div class="col-md-auto">
                                    <label class="text-secondary" asp-for="Category.Name"></label>
                                    @Html.DropDownListFor(model => model.Category.Name, listItems, "Please select", new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="text-danger">
                                        <span asp-validation-for="Category.Name"></span>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <label class="text-secondary" asp-for="Schedule"></label>
                                    <select asp-for="Schedule" asp-items="Html.GetEnumSelectList<JobOpenings.Models.Enumerations.Schedule>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                    <div class="text-danger">
                                        <span asp-validation-for="Schedule"></span>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <label class="text-secondary" asp-for="Experience"></label>
                                    <select asp-for="Experience" asp-items="Html.GetEnumSelectList<JobOpenings.Models.Enumerations.Experience>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                    <div class="text-danger" style="margin-bottom:20px">
                                        <span asp-validation-for="Experience"></span>
                                    </div>
                                </div>
                                <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">Edit Vacancy</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


</body>
@*<body>
    <h3>Vacancy Information</h3>
    @using (Html.BeginForm("Edit", "Vacancy", FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Submits)
        @Html.HiddenFor(model => model.Favourites)
        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Company.Name, "Company Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Company.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Company.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Company.Location, "Company Location", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Company.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Company.Location, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Category.Id, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Category.Id, ViewBag.CategoryList as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Schedule, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select asp-for="Schedule" asp-items="Html.GetEnumSelectList<JobOpenings.Models.Enumerations.Schedule>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <!--Html.EditorFor(model => model.Schedule)-->
                    @Html.ValidationMessageFor(model => model.Schedule, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select asp-for="Experience" asp-items="Html.GetEnumSelectList<JobOpenings.Models.Enumerations.Experience>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <!--Html.EditorFor(model => model.Experience)-->
                    @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button onclick="document.location='../Vacancy';" class="btn btn-lg" style="background-color:transparent;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                        <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                    </svg>
                </button>
                <input type="submit" value="Edit" class="btn btn-outline-secondary" />
            </div>
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>*@
</html>
