@model JobOpenings.Models.Favourite
@{
    ViewData["Title"] = "Adding to Favourite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Vacancy Information</title>
    <style>
        dl {
            width: 50%;
            overflow: hidden;
            padding: 0;
            margin: 0
        }

        dt {
            float: left;
            width: 50%;
            padding: 0;
            margin: 0
        }

        dd {
            float: left;
            width: 50%;
            padding: 0;
            margin: 0
        }
    </style>

</head>

<body>
    @using (Html.BeginForm("Favourite", "Vacancy", FormMethod.Post))
    {
        <h3>@Html.DisplayFor(model => model.Vacancy.Name)</h3>
        <h5>Are you sure you want to add this Vacancy to Favourites?</h5>
        <sub style=" padding-top:10px">
            @Html.DisplayFor(model => model.Vacancy.PublicationDate)
        </sub>
        <div>
            <dl>
                <dt>
                    Company
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vacancy.Company.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Vacancy.Company.Location)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vacancy.Company.Location)
                </dd>
                <dt>
                    Category
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vacancy.Category.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Vacancy.Salary)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vacancy.Salary)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Vacancy.Schedule)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vacancy.Schedule)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Vacancy.Experience)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vacancy.Experience)
                </dd>
            </dl>
        </div>
        @Html.HiddenFor(model => model.Vacancy.Id)
        @Html.HiddenFor(model => model.VacancyId)
        @Html.HiddenFor(model => model.Vacancy.Name)
        @Html.HiddenFor(model => model.Vacancy.Company.Id)
        @Html.HiddenFor(model => model.Vacancy.Company.Name)
        @Html.HiddenFor(model => model.Vacancy.Company.Location)
        @Html.HiddenFor(model => model.Vacancy.Category.Id)
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-outline-secondary" value="Favourite" />
                <button type="button" class="btn btn-outline-secondary" onclick="document.location ='../../Vacancy'">Back to List</button>
            </div>
        </div>
    }



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>
