@model PagedList.IPagedList<JobOpenings.Models.Vacancy>
@using PagedList.Mvc;
@using PagedList;
@using System.Web.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using System.Web;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*@model IEnumerable<JobOpenings.Models.Vacancy>*@
@{
    ViewBag.Title = "Vacancies";
}


<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Job List</title>

    <style>
        label:hover {
            cursor: pointer;
            color: var(--red) !important;
        }
    </style>


</head>


<body>
    <h3>Vacancies</h3>
    <div class="container-fluid">
        @using (Html.BeginForm("Index", "Vacancy", "FormMethod.Get"))
        {
        <p>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" placeholder="name or company" value="Search" />
            <a href="Vacancy/Create">Create Vacancy</a>
        </p>
        }
        
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        @*<th scope="col">Name</th>*@
                        <th>
                            @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.CompanySortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        @*<th scope="col">Company</th>*@
                        <th>
                            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        @*<th scope="col">Date</th>*@
                        <th>
                            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        @*<th scope="col">Location</th>*@
                        <th>
                            @Html.ActionLink("Salary", "Index", new { sortOrder = ViewBag.SalarySortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        @*<th scope="col">Salary</th>*@
                        <td></td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var vacancy in Model)
                    {
                        <tr>
                            <th scope="row">
                                <label onclick="document.location ='Vacancy/@vacancy.Id'">
                                    @vacancy.Name
                                </label>
                            </th>
                            <td>@Html.DisplayFor(modelItem => vacancy.Company.Name)</td>
                            <td>@vacancy.PublicationDate</td>
                            <td>@Html.DisplayFor(modelItem => vacancy.Company.Location)</td>
                            <td>@vacancy.Salary</td>
                            @if (ViewBag.User == vacancy.User.Email)
                            {
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", "Vacancy", new { id = vacancy.Id })*@
                                    <button onclick="location.href='@Url.Action("Edit", "Vacancy", new { id = vacancy.Id })';" class="btn btn-lg" style="background-color:transparent;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </button>
                                </td>
                                <td>

                                    @*@Html.ActionLink("Delete", "Delete", "Vacancy", new { id = vacancy.Id })*@
                                    <button onclick="location.href='@Url.Action("Delete", "Vacancy", new { id = vacancy.Id })';" class="btn btn-lg" style="background-color:transparent;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @if (vacancy.Favourites.FirstOrDefault(p => p.User.Email == ViewBag.User) == null)
                                    {
                                        <button onclick="location.href='@Url.Action("Favourite", "Vacancy", new { id = vacancy.Id })';" class="btn btn-lg" style="background-color:transparent;">
                                            <svg style="background-color:transparent;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                            </svg>
                                        </button>
                                    }
                                    else
                                    {
                                        <button onclick="location.href='@Url.Action("UnFavourite", "Vacancy", new { id = vacancy.Id })';" class="btn btn-lg" style="background-color:transparent;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                            </svg>
                                        </button>
                                    }
                                </td>
                                <td>
                                    @*@Html.ActionLink("Reply", "Submit", "Vacancy", new { id = vacancy.Id })*@
                                    <button onclick="location.href='@Url.Action("Submit", "Vacancy", new { id = vacancy.Id })';" class="btn btn-lg" style="background-color:transparent;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                                        </svg>
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Controller", "Action", new { page }))*@

        </div>
    </div>
    <!--Html.ActionLink("Create", "Create")-->
   


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>
